.App {
  text-align: center;
}

.Button {
  background-color: rgb(129, 22, 76);
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
  color: beige;
  font-size: x-small;
}

.Button:hover {
    background-color: rgb(34, 21, 28);
    color: white;
}

/** .Button.Red {
  background-color: red;
}

.Button.Red:hover {
  background-color: salmon;
} */