.App {
  text-align: center;
}
 .red {
   color: greenyellow;
 }

 .bold {
   font-weight: bold;
 }
.bolder {
  font-size: x-large;
  font-weight: 500;
}

.Button {
  background-color: yellow;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.Button:hover {
    background-color: rgb(77, 114, 17);
    color: white;
}

